<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modificar Etapas</title>
</head>
<body>
<h1 th:text="'Lista de Etapas de la Especie ' + ${nombreEspecie}"></h1>

<table border="1" >
    <thead>
    <tr>
        <th>Nombre de la etapa</th>
        <th>Descripcion</th>
        <th>Modificar</th>

    </tr>
    </thead>
    <tbody>
    <!-- por cada Especie va a hacer a usar thymeleaf -->
    <tr th:each="Etapa : ${etapas}">
        <td th:text="${Etapa.nombreEtapa}"></td>
        <td th:text="${Etapa.descripcionEtapa}"></td>
        <td>

            <a th:href="@{/etapas/modificar/{idEtapa}/{idEspecie}(idEtapa=${Etapa.id}, idEspecie=${idEspecie})}">
                <button type="button">Modificar etapa</button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>